<div class="line"></div>

<div id="footer" class="footer">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5"/>
    </svg>
    <h2>Drop Me a Line, Let Me Know What you Think</h2>
    <form action="/submit">
        <div class="container">
            <div class="flex-form form-title">
                <label for="fname" class="col names">First Name</label>
                <label for="lname" class="col names">Last Name</label>
            </div>

            <div class="flex-form  form-input">
                <label for="fname" class="col-6 hidden">First Name</label>
                <input type="text" class="col" id="fname" name="fname">
                <label for="fname" class="col-6 hidden">Last Name</label>
                <input type="text" class="col" id="lname" name="lname">
            </div>

            <div class="flex-form  form-title">
                <label for="email" class="col-12">Email:</label>
            </div>

            <div class="flex-form  form-input">
                <input type="text" class="col-12" id="footer-email" name="email">
            </div>
            
            <div class="flex-form  form-title">
                <label for="message" class="col-12">Message:</label>
            </div>

            <div class="flex-form">
                <textarea id="message" class="col-12  form-input" name="w3review" rows="4" cols="50"></textarea>
            </div>
            <input class="button" type="submit" value="Submit"> 
        </div>
    </form> 
    <footer class="py-3 my-4">
        <p class="text-center text-body-secondary">© 2024 Company, Inc</p>
    </footer>
</div>
</div>




<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>